div{
    border: 1px dotted rgb(0, 0, 0);
    padding: 10px;
}

a {
  font-weight: bold;
}
#body
{background: rgb(255, 255, 255); 
}

@keyframes text-typewriter {
    0% { width: 0; }
    100% { width: 100%; }
}

.animated-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: text-typewriter 3.7s steps(40) infinite, blink 0.75s step-end infinite;
    animation-delay: 0.3s;
}

@keyframes blink {
    0%, 50% { border-color: transparent; }
    51%, 100% { border-color: currentColor; }
}